# =========================
# Common (공통 설정)
# =========================
APP_ENV=dev
SERVICE_NAME=my-service # 각 서비스명으로 변경
LOG_LEVEL=INFO
TZ=Asia/Seoul

# =========================
# AWS Common
# =========================
AWS_REGION=ap-northeast-2
AWS_ACCOUNT_ID= 

# =========================
# Database (RDS)
# =========================
RDS_HOST= 
RDS_PORT=5432
RDS_DB_NAME=hospital
RDS_USERNAME=
RDS_PASSWORD=

# =========================
# On-Prem / Auth / SQS 등 (필요한 서비스만 사용)
# =========================
# JWT_SECRET=
# ONPREM_API_BASE_URL=
# SQS_TRIAGE_QUEUE_URL=