APP_ENV=dev
SERVICE_NAME=onprem-sensitive-api
PORT=9000
LOG_LEVEL=INFO
TZ=Asia/Seoul
HEALTH_CHECK_PATH=/health

DATABASE_URL=
FIELD_ENCRYPTION_KEY=
ALLOWED_AWS_VPC_CIDR=10.0.0.0/16
DB_HEALTH_CHECK_PATH=/db-health
