# This file is an example.
# Do not commit a real terraform.tfvars file.
# Never put real secret values in Terraform variable files.
# TF_VAR_ environment variables can also be used instead of terraform.tfvars.

aws_region  = "ap-northeast-2"
project_name = "ai-care"
environment = "dev"

service_vpc_id = "vpc-0beaaf51840498bae"

service_public_subnet_ids = [
  "subnet-0e4f74a9b41db30cd",
  "subnet-01048c2306043944b"
]

service_private_app_subnet_ids = [
  "subnet-05a7f50d03159ee6f",
  "subnet-0399d1d5dc9043b69"
]

service_private_data_subnet_ids = [
  "subnet-0dc3cda5512b495ea",
  "subnet-0f38008ce44c44a11"
]

# Leave empty to auto-discover route tables from the private app subnets.
service_route_table_ids_to_onprem = []

onprem_availability_zone = "ap-northeast-2a"
create_onprem_network    = false

existing_onprem_vpc_id            = "vpc-0a53924e1ccaeb2e2"
existing_onprem_public_subnet_id  = "subnet-04b1cf699c6c52520"
existing_onprem_private_subnet_id = "subnet-0652c89ea58554194"

# Optional. Leave empty to auto-discover route tables from the On-Prem subnets.
existing_onprem_public_route_table_id  = ""
existing_onprem_private_route_table_id = ""
existing_onprem_internet_gateway_id    = ""

onprem_ec2_key_name = ""

reports_bucket_name = "ai-care-dev-reports-105959916837"
reports_s3_prefix   = "reports/"

cluster_public_access_cidrs = [
  "121.134.211.97/32"
]

app_ecr_repository_names = [
  "auth-user-service",
  "questionnaire-service",
  "ai-triage-service",
  "hospital-recommendation-service",
  "onprem-sensitive-api"
]

create_ai_processor_lambda = false
ai_processor_image_uri     = ""

enable_cicd                = false
create_github_oidc_provider = false
github_oidc_provider_arn   = ""
github_repository          = "zipgaskkukdp/hospital-service-app"
github_branch              = "main"
